
   
   <div class="contenedorlogin">
    <div class="contenedorlogin__formulario">
        <form>
        <h1 class="contenedorlogin__titulo">Iniciar sesión</h1> 
        <mat-form-field>
          <input matInput placeholder="Cedula" pattern="[0-9]*" title="Ingrese solo valores numéricos" required>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput type="password" placeholder="Contraseña" required>
        </mat-form-field>
        <div>
          <button mat-raised-button color="primary" class="botonformulario" routerLink="/tabla">Acceder </button>
        </div>
        <br>  
      </form>
    </div>
  </div>
